# Source Files
/ChatBot/ @Shivam-090 @Raveesh1505 @Manuelrico659 @who-somu @bitphonix @MontseD

# Github Files
/.github/ @Shivam-090
/LICENSE @Shivam-090
/README.md @Shivam-090 @Raveesh1505

# Dependency Files
/.gitignore @Raveesh1505
